*{
box-sizing:border-box;
}

body{
font-family:Arial;
margin:0;
background:#dee8eb;
color:white;
}

header{
background:#072b35;
padding:15px;
}

.banner img{
width:100%;
height:350px;
object-fit:cover;
}

.container{
padding:20px;
}

img{
width:100%;
border-radius:8px;
}

.p-5{
padding:10px;
}

.row{
clear:both;
}

input, textarea{
width:100%;
padding:10px;
margin:5px 0;
border-radius:5px;
border:none;
}

button{
background:#2da8e0;
border:none;
padding:10px;
width:100%;
border-radius:5px;
color:blue;
}

/* tablet */
@media screen and (min-width:601px){
.col-md-25{
width:25%;
float:left;
}

.col-md-50{
width:50%;
float:left;
}

.col-md-100{
width:100%;
float:left;
}

}

/* desktop */
@media screen and (min-width:992px){

.col-lg-12{
width:12%;
float:left;
}

.col-lg-25{
width:25%;
height: 50%;
float:left;
}

.col-lg-50{
width:50%;
float:left;
}

}